{{- define "main" }}

{{ $pages := union .RegularPages .Sections }}

<p>Browse by tags</p>
<ul class="tag-list">
    <a href="/">all({{ len .Site.RegularPages }})</a> -
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    <li>
        <a href="{{ $taxonomy.Page.RelPermalink }}">{{ $name }} ({{ len $taxonomy }})</a>
    </li>
    {{ end }}
</ul>


{{ if .IsHome }}
<h2>Welcome</h2>
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

{{ if and .Title (eq .Type "tags") }}
<h1>#{{ .Title }}</h1>
{{ end }}


{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages
}}

<span style="color: #FFC7ED;">#{{ index .Params.tags 0 }}</span>
<a href="{{ .Permalink }}">{{ .Title }}</a> - {{ .Date  | time.Format ":date_medium" }}
<p>{{ .Summary }}</p>
{{ end }}

{{ if .Paginator.HasPrev }}
<a href="{{ .Paginator.Prev.URL }}">&lt; Previous</a>
{{ end }}

{{ if .Paginator.HasNext }}
<a href="{{ .Paginator.Next.URL }}">Next &gt;</a>
{{ end }}

{{- end }}
